<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Image Input and Form Example</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Uploaded Image:</h2>
                    {% if image %}
                        <img src="{{ image }}" class="img-fluid mb-4" alt="Uploaded Image">
                    {% endif %}

            </div>

            <div class="col-md-6">
                <h2 class="mb-4">Form:</h2>
                <form  method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" value="{{ name }}">

                       
                    </div>

                    <div class="form-group">
                        <label for="card_number">Card Number:</label>
                        <input type="text" name="card_number" class="form-control" value="{{id_number}}">
                    </div>

                    <div class="form-group">
                        <label for="image">Choose Image:</label>
                        <input type="file" name="image" class="form-control-file">
                    </div>

                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>

        
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>
        // Get the current Codespace URL dynamically
        const currentUrl = window.location.href;

        // Set the form action attribute dynamically
        const form = document.getElementById("dynamicForm");
        form.action = currentUrl;

        // Optional: You can log the current URL to the console for verification
        console.log("Current URL:", currentUrl);
    </script>


</body>
</html>
